* {
    padding: 0px;
    margin: 0px;
}
#game {
    height: 400px;
    width: 800px;
    border: 1px solid black;
}
#character {
    height: 100px;
    width: 50px;
    background-color: red;
    position: relative;
    top: 300px;
}
.animate {
    animation: jump 500ms;
}
@keyframes jump {
    0% {
        top: 300px;
    }
    30% {
        top: 200px;
    }
    50% {
        top: 200px;
    }
    100% {
        top: 300px;
    }
}
#blocks {
    height: 50px;
    width: 50px;
    background-color: green;
    position: relative;
    top: 250px;
    left: 750px;
    animation: block 1s infinite linear;
}
@keyframes block {
    0% {
        left: 750px;
    }
    100% {
        left: -40px;
    }
}